# =========================
# Archivos de Datos y Resultados
# =========================
*.npy
*.npz
*.parquet
*.csv
*.xlsx
resultados/

# =========================
# Entornos Virtuales
# =========================
.env
venv/
.venv/
env/

# =========================
# Caché y Archivos Compilados de Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Herramientas del Sistema Operativo
# =========================
.DS_Store
Thumbs.db